@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    border-radius: 40px;
    text-align: center;
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    

}
.box input[type="text"],.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: .3s;
}

span {
    color: white;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px; 
    border-color: #2ecc71;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 50px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
    transition: .3s;
    
}


span::before,span::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 50px;
    bottom: 29%;
    right: 210px;
    background: rgba(255, 255, 255, 0.3);

}


span::after {
    left: 210px;
}
.footer .social-field {
    padding: 0.4rem;
    border-radius: 20px;
    font-size: 0.95rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}
.footer .social-field a {
    text-decoration: none;
    color: white;
}
.footer .social-field.twitter {
    background: linear-gradient(to right, #56a7f2, #468aca);

}
.footer .social-field.facebook {
    background: linear-gradient(to right, #1e3c72,#2a5298);
}

